.DS_Store
*.log
/public_html/vendor
/public_html/plugins/october
/public_html/modules/**/*
/public_html/bootstrap
/public_html/themes/demo
/public_html/artisan
/public_html/index.php
/public_html/.htaccess
/public_html/_gsdata_/
/public_html/error/
/public_html/modules/
/public_html/stats/
/public_html/plugins/
/public_html/storage/cms/
/public_html/storage/debugbar/
/public_html/storage/framework/
/public_html/storage/logs/
/public_html/storage/temp/
