[viewBag]
==
    <br/>    
    <p class="lead" name="image-list-only-componentinspector-options">
		<i class="icon-code"></i> &nbsp; All Available Component Inspector Options for Image List Only Galleries
	</p>
	<div id="image-list-only-componentinspector-options">
		<table class="inspector-params-table">
			<thead>
				<tr>
					<th style="width: 30ex;">Code</th>
					<th style="width: 26ex;">OctoberCMS Component Inspector Property</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>alias</td>
					<td>Alias</td>
					<td>Standard OctoberCMS stuff, you refer to the component in your page via this unique identifier, the default is “embeddedGallery” but you can change it to anything you want (don’t use spaces or special characters though!)</td>
				</tr>
				<tr>
					<td>mediaFolder</td>
					<td>Media Folder</td>
					<td>Select the folder that you uploaded the images to in the OctoberCMS Media manager. Only folders under the “Base Media Folder” set on the November Gallery settings page are valid.</td>
				</tr>
				<tr>
					<td>maxItems</td>
					<td>Max Images</td>
					<td>The maximum number of images to display</td>
				</tr>
				<tr>
					<td>sortBy</td>
					<td>Order by</td>
					<td>Order to display the gallery items in; note: Image Title, Description, and Sort Order only work for images uploaded using the Galleries page! Options are: (1) title / Image Title (2) description / Image Description (3) sortOrder / Image Order in Gallery (4) width / Image Width (5) height / Image Height (6) orientation / Image Orientation (7) fileName / Filename (8) fileSize / File Size (9) uploaded / Date/Time Uploaded; and all options are also available in reverse order (append DESC onto the option code).</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>    