[viewBag]
==
    <br/>    
    <p class="lead" name="video-gallery-componentinspector-options">
		<i class="icon-code"></i> &nbsp; All Available Component Inspector Options for Video Galleries
	</p>
	<div id="video-gallery-componentinspector-options">
		<table class="inspector-params-table">
			<thead>
				<tr>
					<th style="width: 30ex;">Code</th>
					<th style="width: 26ex;">OctoberCMS Component Inspector Property</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>alias</td>
					<td>Alias</td>
					<td>Standard OctoberCMS stuff, you refer to the component in your page via this unique identifier, the default is “embeddedGallery” but you can change it to anything you want (don’t use spaces or special characters though!)</td>
				</tr>
				<tr>
					<td>mediaFolder</td>
					<td>Media Folder</td>
					<td>Select the folder that you uploaded the images to in the OctoberCMS Media manager. Only folders under the “Base Media Folder” set on the November Gallery settings page are valid.</td>
				</tr>
				<tr>
					<td>maxItems</td>
					<td>Max Images</td>
					<td>The maximum number of images to display</td>
				</tr>
				<tr>
					<td>sortBy</td>
					<td>Order by</td>
					<td>Order to display the gallery items in; note: Image Title, Description, and Sort Order only work for images uploaded using the Galleries page! Options are: (1) title / Image Title (2) description / Image Description (3) sortOrder / Image Order in Gallery (4) width / Image Width (5) height / Image Height (6) orientation / Image Orientation (7) fileName / Filename (8) fileSize / File Size (9) uploaded / Date/Time Uploaded; and all options are also available in reverse order (append DESC onto the option code).</td>
				</tr>
				<tr>
					<td>videoGalleryItemsSelector</td>
					<td>Gallery Selector/ID</td>
					<td>JQuery selector for the element that holds the video items; for example: #videos</td>
				</tr>
				<tr>
					<td>videoGalleryLayout</td>
					<td>Gallery Layout</td>
					<td>Select a gallery layout; possible values are: (1) default / Default (use the gallery layout set on the plugin settings page) (2) video_gallery_right_thumb / Thumbnails (3) video_gallery_right_title_only / Titles Only (4) video_gallery_right_no_thumb / No Thumbnails</td>
				</tr>
				<tr>
					<td>additionalVideoGalleryOptions</td>
					<td>Script Options</td>
					<td>Additional JS options that you want passed onto the UniteGallery script, for example: theme_autoplay: true</td>
				</tr>
				<tr>
					<td>imageResizerHeight</td>
					<td>Thumbnail Height</td>
					<td>Height of the generated thumbnail; Leave empty or set to 0 to only constrain the image by height; leave both width and height empty to fall back on the values set on the backend plugin configuration page</td>
				</tr>
				<tr>
					<td>imageResizerMode</td>
					<td>Thumbnail Mode</td>
					<td>Select how to resize your images into thumbnails, or select “default” to use the thumbnail mode set on the plugin settings page; possible values are: (1) Default (2) Exact (3) Portrait (4) Landscape (5) Auto (6) Crop</td>
				</tr>
				<tr>
					<td>galleryWidth</td>
					<td>Gallery Width</td>
					<td>Can be a number (pixel lenght) or a percent (of the parent container). Leave empty to fall back on the values set on the backend plugin configuration page</td>
				</tr>
				<tr>
					<td>galleryHeight</td>
					<td>Gallery Height</td>
					<td>Only applies to “Combined” and “Slider” galleries! Can be a number (pixel lenght) or a percent (of the parent container). Leave empty to fall back on the values set on the backend plugin configuration page</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br/>    